body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #8f0303;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sm {
    margin-left: 5px;
}
